.product {
    transition-property: transform;
    transition-duration: 0.3s;
    
    img {
        width: 100%;
        background: #eeeeee;
        border-radius: 5px;
    }

    .product__name {
        margin: 10px 0;
        font-weight: 100;
    }

    .product__price {
        font-weight: 750
    }
}

.product:hover {
    transform: scale(1.02);
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.3s;
}

@media screen and (min-width: 1050px) {
    .product {
        img {
            height: 100px;
        }
    }
}
