.content {
    width: 95%;
    margin: 30px auto;

    .products {
        display: grid;
        grid-template-columns: repeat(2, 140px);
        justify-content: center;
        gap: 55px 20px;
    }
}

@media screen and (max-width: 330px) {
    .content {
        .products {
            grid-template-columns: 140px;
        }
    }
}

@media screen and (min-width: 600px) {
    .content {
        .products {
            grid-template-columns: repeat(3, 170px);
        }
    }
}

@media screen and (min-width: 850px) {
    .content {
        .products {
            grid-template-columns: repeat(4, 180px)
        }
    }
}

@media screen and (min-width: 1050px) {
    .content {
        .products {
            grid-template-columns: repeat(4, 200px);
            gap: 55px 50px;
        }
    }
}